body {
  background-color: #2b2c30;
  font-family: 'Courier New', Courier, monospace;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

div.container {
  color: white;

  background-color: rgba(0, 0, 0, 0.8);
  margin: 0 auto;
  width: 30%;
  padding: 2rem;
}

div.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  padding: 2rem 4rem;
}

h1 {
  font-weight: 400;
}

a {
  border: 1px solid white;
  padding: 1rem 2rem;
  text-transform: uppercase;
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  margin-top: 2rem;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

span {
  color: yellow;
}
